<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>LOL-teamBuilder</title>
  <script crossorigin src="https://unpkg.com/react@15/dist/react.min.js"></script>
  <script crossorigin src="https://unpkg.com/react-dom@15/dist/react-dom.min.js"></script>
  <script crossorigin src="https://unpkg.com/prop-types/prop-types.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.34/browser.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/remarkable/1.6.2/remarkable.min.js"></script>
  <link rel="shortcut icon" href="/assets/img/favicon.png"/>
  <link rel="stylesheet" type="text/css" href="/assets/style.css"/>
</head>
<body>
  <nav>
    <div class="navlink"><a href="/login"><img src="/assets/img/lol-icon.png"></a></div>
    <div class="navlink"><a id="logout" href="/logout">Log out</a></div>
    <div class="navlink"><a id="ChangePW">Change Password</a></div>
    <div class="navlink"><a id="makeTeam">Make Team</a></div>
    <div class="navlink"><a id="ChangeRoleorRank">Change Role and/or Rank</a></div>
    <div class="navlink"><a id="About">About this app</a></div>
  </nav>
  <div class="content">
    <div id="UserId">
        <h3 id="username">Username:</h3>
        <h3 id="role">Role:</h3>
        <h3 id="teamname">Teamnane:</h3>
        <h3 id="Currentrank">Rank:</h3>
        <h3 id="MatchType">Match Type:</h3>
    </div>
      <div id="A1">
      <p id="Ad1">Ad Space</p>
      </div>
      <div id="A2">
        <p id="Ad2">Ad Space</p>
      </div>
      <div>
      <button class="formButton" type="button" id="rankedBut">Ranked</button>
      <button class="formButton" type="button" id="normalBut">Normal</button>
      </div>
    <section id="leagueTeamgroup"></section>
    <section id="makeTeam"></section>
      
    <h3 id="errorMessage"></h3>
    
  </div>
  <footer>
      <p>Page by: Johnny Siu</p>
      <p>For educational Purposes only, all copyright material belongs to their respective owners</p>
  </footer>
  <script src="/assets/bundle.js"></script>
  <script src="/socket.io/socket.io.js"></script>
</body>

</html>