* {
    box-sizing: border-box;
}

html    {
    
    height: 100%;
    width: 100%;
}

body {

    margin: 0;
    padding: 0;
    overflow-x: hidden;
    min-height: 100%;
}

#logo {
    height: 40px;
    width: 40;
    padding-top: 5px;
    float:left;
    border-radius: 8px;
}

nav {
    width: 100%;
    height: 50px;
    background-color: black;
}

nav:nth-child(1) {
    padding-left: 25px;
}

.navlink {
    padding: 5px;
    padding-top: 12px;
    padding-left: 20px;
    font-size: 1.3em;
    float: left;
}

 .navlink a {
    color: #c9aa71;
    text-decoration: none;
    padding: 5px;
    transition: color 0.4s ease-out;

}
 .navlink a:hover {
    color: #f7e8cd;
    text-decoration: none;
    padding: 5px;
    border-radius: 4px;
}

#intro{
    position:relative;
    top:185px;
    width:525px;
    margin:auto;
}

#lolLogo{
    position:relative;
    top:25px;
}

.domoForm {
    border: 2px solid #338acc;
    height: 35px;
    width: 1100px;
    margin-top:0px;
    padding-top:10px;
    background-color: #55acee;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
}

.domoForm label {
    display: inline-block;
    width: 75px;
    margin-left: 10px;
    font-size: 1.2em;
    float: left;
    color: white;
}

.domoForm input[type=text] {
    float:left;
}

.makeDomoSubmit {
    transition: background-color 0.4s ease;
    display: inline;
    width: 90px;
    background-color: #55acee;
    border-radius: 2px;
    color: white;
    text-decoration: none;
}

.makeDomoSubmit:link, .makeDomoSubmit:visited, .makeDomoSubmit:hover, .makeDomoSubmit:active {
    color: white;
}

.makeDomoSubmit:hover {
    transition: background-color 0.4s ease;
    background-color: #338acc;
}

.mainForm {
    height: 300px;
    width: 350px;
    margin: 0 auto;
    padding-top: 350px;
    font-size: 1.2em;
}

.mainForm h3 {
    text-align: center;
}

.mainForm label {
    display: inline-block;
    width: 100px;
    margin-right: 10px;
    text-align: right;
    font-size: 1.2em;
}

.formButton {
    transition: background-color color 0.4s ease;
    display: block;
    text-align: center;
    margin: 0 auto;
    margin-top: 14px;
    font-size: 1.2em;
    width: 100px;
    background-color: rgb(0,0,150);
    border-radius: 2px;
    border-color: #66acee;
    padding: 3px 0px;
    color: deepskyblue;
    text-decoration: none;
}

.formButton:link, .formButton:visited, .formButton:hover, .formButton:active {
    color: white;
}

.formButton:hover {
    transition: background-color 0.4s ease;
    background-color: rgb(0,0,250);
    cursor: pointer;
}

#user, #pass, #pass2 {
    text-align: center;
    font-size: 1.1em;
    width: 180px;
    border-radius: 6px;
}

#user:focus, #pass:focus, #pass2:focus {
    outline: none;
    box-shadow: 0px 0px 1px 1px #55acee;
}

#domoMessage {
    display:none;
    top: 250px;
    width: 250px;
    height: 650px;
    position: absolute;
    z-index: 200;
    right: 0px;
    overflow: hidden;
}

#domoMessage h3 {
    width: 200px;
    position: absolute;
    top: 0px;
    left: 20px;
}

#speech {
    height: 120px;
    width: 250px;
    z-index:300;
}

#errorMessage {
    font-size: 1.2em;
    font-weight: bold;
    color: red;
    font-style: italic;
    position: absolute;
    top: 125px;
}

#domo {
    z-index: 225;
    margin-top: -20px;
    margin-left: 135px;
    height: 450px;
    width: 300px;
    -ms-transform: rotate(330deg);
    -webkit-transform: rotate(330deg); 
    transform: rotate(330deg);
}

#domos {
    width: 45%;
    min-width: 400px;
    border: 2px solid #55acee;
    border-radius: 4px;
    margin: 0 auto;
    margin-top: 100px;
}

.domo {
    width: 95%;
    margin: 0 auto;
    margin-top: 2px;
    margin-bottom: 2px;
    border: 2px solid #55acee;
    border-radius: 4px;
    background-color: #55acee;
    padding: 10px;
    min-height:60px;
    overflow: hidden;
}

.domo:hover {
    transition: border-color 0.2s ease-out;
    border-color: rgba(255,255,255, 0.8);
    transition: background-color 2.6s ease-out;
    background-color: #66bfff;
}

img.domoFace {
    margin-left: 25px;
    margin-right: 10px;
    height: 50px;
    width: 50px;
    border-radius: 4px;
    margin-top:10px;
    float:left;
}

#EmptyList {
    width: 150px;
    font-size: 1.5em;
    margin: 0 auto;
    text-align: center;
    margin-top: 18px;
}

h3.domoName {
    float:left;
    width: 200px;
    font-weight: bold;
    padding-left: 65px;
    font-size: 1.5em;
}

h3.domoAge {
    float:right;
    text-align: left;
    width: 100px;
    font-weight: bold;
    padding-right: 40px;
    font-size: 1.5em;
}

h3.domoWeight {
    float:right;
    text-align: left;
    width: 150px;
    font-weight: bold;
    padding-right: 40px;
    font-size: 1.5em;
}

.domo:first-child {
    margin-top: 10px;
}

.domo:last-child {
    margin-bottom:10px;
}

#weightLabel {
    width: 120px;
}

#WeightDLabel {
    position: relative;
    width: 100px;
    margin: 0px;
    height: 30px;
    left: 500px;
    top: -40px;
}

#NameLabel {
    position: relative;
    width: 100px;
    margin: 0px;
    height: 30px;
    left: 100px;
    top: -40px;
}

#AgeLabel{
    position: relative;
    width: 100px;
    height: 30px;
    left: 300px;
    top: -40px;
    margin: 0px;
}

#EditDomo {
    height:200px;
}

#NameChangeLabel{
    position:relative;
}

#AgeChangeLabel{
    position:relative;
    top:29px;
    left:-218px;
}

#WeightChangeLabel{
    position:relative;
    top:61px;
    left:-428px;
}

#domoIName{
    position:relative;
}

#domoIAge{
    position:relative;
    left:-208px;
    top:29px;
}

#domoIWeight{
    position:relative;
    top:40px;
    left:100px;
}
#ChangeButton{
    position:relative;
    left:190px;
    top:60px;
}
#DeleteButton{
    position:relative;
    left:150px;
    top:60px;
}
a:hover {
 cursor:pointer;
}

.content {
    padding:20px;
    min-height:100%;
    margin-bottom: 60px;
}

footer {
   text-align:center;
   background-color:black;
   color: #c9aa71;
 position: relative;
  right: 0;
  bottom: 0;
  left: 0;
    width:100%;
    
}

#UserId{
    position: absolute;
    right:20px;
}
table, th, td {
    border: 1px solid black;
    font-size: 18pt;
    width:300px;
    margin-top:20px;
}
.leagueList{
    margin: auto;
    width: 300px;
    margin-bottom: 50px;
}
.Join, .leave {
    position:relative;
    top:20px;
    left:48px;
}

/* PW change form*/

#ChangePWForm {
    position: relative;
    width: 400px;
    margin:auto;
    top:300px;
    border: black 1px solid;
    padding: 20px;
}

#pass2CLabel {
    position: relative;
    width:139px;
    top:30px;
    display:block;
}

#pass2C {
    position: relative;
    left: 143px;
    top: 11px;
}

#roleCLabel {
    position: relative;
    display: block;
}

#roleC {
    position: relative;
    display: block;
    left: 42px;
    top: -19px;
}

#ChangePWSubmit{
    display: block;
    position: relative;
    top:31px;
    margin: 0px;
}

#ChangePWCancel{
    margin:0px;
    position:relative;
    left:247px;
}

/*Make Team Form*/

#TeamMakeCancel {
    position:relative;
    display:block;
    margin:0px;
    left:415px;
    top:-26px;
}

#TeamMakeSubmit {
    display:block;
    position:relative;
    margin:0px;
    left:298px;
    top:-58px;
    width:110px;
}

/*User ID */
#UserID {
    border:black 1px solid;
    padding: 10px;
}

/* Not Found */
#notFoundLabel {
    width: 1168px;
    margin: auto;
    position:relative;
    top:100px;
}

/* Ad Space */
#A1 {
    position:absolute;
    height: 329px;
    width:200px;
    top:417px;
    border: 1px black solid;
    left:20px;
}

#Ad1 {
    position:absolute;
    top:125px;
    left: 41px;
    font-size:24pt;
}

#A2 {
    position: absolute;
    height: 329px;
    width:200px;
    border: 1px black solid;
    right:20px;
    top:342px;
    margin-top: 75px;
}

#Ad2 {
    position:absolute;
    top:125px;
    left:41px;
    font-size: 24pt;
}

#ChangeRoleorRankForm {
    position: relative;
    width:400px;
    margin:auto;
    border:black 1px solid;
    padding:20px;
    top:300px;
    height:175px;
}

#normalBut {
    position:relative;
    display: inline-block;
    left: calc(50% - 77px);
}

#rankedBut{
    position: relative;
    display: inline-block;
    left: calc(50% - 124px);
}

#rank {
    position:relative;
    top: -44px;
}

#rankLabel {
    position:relative;
    top: -43px;
}

#ChangeRRsubmit {
    position:relative;
    display:inline-block;
    top:46px;
    left:-116px;
}

#ChangeRRCancel {
    position:relative;
    display:inline-block;
    top:46px;
    
}

#TextInputLabel {
    position:relative;
    left:-200px;
    top: 30px;
}

#MsgInput {
    position:relative;
    left: -197px;
    top:30px;
}

#ChatLabel {
    position: relative;
    left: -200px;
}

#Chatbox {
    position:relative;
    top: -17px;
    left: -151px;
}

#SendButton{
    position:relative;
    top: 30px;
    left: -214px;
}

#ChampSelectLabel{
    position: relative;
    top: -40px;
    left: 269px;
}

#ChampSelect{
    position:relative;
    top:-39px;
    left:275px;
}

#ChampSubmitButton{
    position:relative;
    top:-37px;
    left:233px;
}

#roleLoginLabel{
    position:relative;
    left:-45px;
}

#roleLogin{
    position:relative;
    left:-50px;
}

#rankLoginLabel{
    position:relative;
    left: -83px;
}

#rankLogin{
    position:relative;
    top:-21px;
    left:204px;
}









